* {
margin: 0;
padding: 0;
}
body{
  font-family: 'Nunito', sans-serif;
  margin: 0;
}
header{
  background-color: #1D1A31;
  padding: 3%;
  color: white;
}
img{
  max-width: 100%;
  height: auto;
}
#logo{
  width:5%;
  height:auto;
  float:left;
  min-width: 30px;
  max-width: 43px;
}
#site-title{
  font-size: 200%;
  padding-left: 50px;
}
#update-line{
  padding-left: 50px;
  font-size: 98%;
  padding-right: 20px;
}
#menu-icon{
  display:block;
  width:50px;
  padding: 1px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
#nav-list{
  display:none;
  overflow: hidden;
  background-color: #322F44;
  margin-left: auto;
  margin-right: auto;
  width:40%;
  height:auto;
  position: relative;
  animation-name: slide;
  animation-duration: .5s;
  border: 1px #322F44;
}
@keyframes slide{
  0%{left:0px; top:0px;}
  50%{left:0px; top:13px;}
  100%{left:0px; top:0px;}
}
nav ul{
  list-style: none;
  gap: 2%;
}
nav ul li a{
  color: white;
  padding-bottom: .25px;
  text-decoration: none;
  font-weight: bold;
  font-size: 150%;
  padding-left: 0px;
  text-align: center;
}
nav ul li a:hover{
  color:#B2A3B5;
}
hr{
  height:1px;
  border-width: 1px;
  color:#656372;
  background-color:#656372;
  border-color: #656372;
}
.article-content{
margin: 4% 8.75%;
}
h1#article-title{
  color: #A72052;
  font-size: 500%;
  text-align: center;
  font-weight: bold;
}
h2{
  color: #1D1A31;
  font-size: 180%;
  text-align: center;
  padding-bottom: 3%;
}
h3{
  color: #A72052;
  font-size: 120%;
}
#author{
   float:left;
 }
#date{
   float:right;
 }
figure#top-image{
  width: 70%;
  height: auto;
  margin: 0 auto;
  padding-top: 4%;
  margin-bottom: 40px;
}
figcaption{
  color: #1D1A31;
  font-size: 110%;
}
h4{
  font-size: 110%;
  font-weight: normal;
}
h5{
  padding-top:2%;
  font-size: 160%;
  font-weight:bold;
}
.section-image{
  width: 35%;
  height: auto;
  border: 3px solid black;
  margin-bottom: 1%;
  float: right;
  max-width: 220px;
}
.poems figure{
  padding-left: 4%;
}
.poems{
  background-color: #F4D58D;
  color: #1D1A31;
  text-align: left;
  font-size: 100%;
  line-height: 25px;
  margin-bottom: 20px;
  padding: 4%;
}
footer{
  color: white;
  background-color: #A72052;
  font-size: 90%;
  text-align: center;
  padding: 1%;
}
#top-link{
  text-decoration: none;
  color: white;
  font-weight:bold;
  font-size: 105%;
}
 #top-link:hover{
 color:#1D1A31;
 text-decoration: underline;
 }
nav ul li a:hover{
  color:#B2A3B5;
}
@media all and (min-width: 900px){
#update-line{
  float:left;
}
}
@media all and (min-width: 700px){
  nav ul{
    gap: 1%;
  }
}
@media all and (min-width: 400px){
  #menu-icon{
    display:none;
  }
  #nav-list{
    width:auto;
    display: block;
    overflow:hidden;
    background-color: transparent;
    border-radius: 0px;
    border: none;
    animation-duration: 0s;
  }
  nav ul{
    display: flex;
    justify-content: right;
    gap: 1%;
  }
  nav ul li a{
    font-size: 110%;
    text-decoration: none;
  }
  #menu-icon{
    display: none;
  }
  hr{
    height:0px;
    border-width: 0px;
  }
}
@media all and (max-width: 399px){
  nav ul{
    text-align: center;
}
}
