body{
  font-family: sans-serif;
}
h1{
  color: #b02a5b;
  font-size: 40px;
  line-height: 5px;
}
nav ul{
  display: flex;
  list-style: none;
  padding-left: 0px;
  background-color: #8c4c8b;
  padding: 8px;
  gap: 5px;
}
nav ul li a{
  color: white;
  background-color: #8c4c8b;
  padding: 8px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}
nav ul li a:hover{
  background-color: #8f1b8d;
}
figure img{
  width: 400px;
  height: auto;
}
p img{
  width: 150px;
  height: auto;
  float: left;
  border: 3px solid black;
  margin-right: 5px;
  margin-bottom: 5px;
}
article p:last-child{
  background-color: #f5d7e1;
}
article header p{
  color: #4e33b0;
}
